* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/klassrum.jpg);
    background-size: cover;
    background-position: center;
}

.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/geometry.jpg);
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 240px;
    cursor: pointer;
    transition: transform 0.5s;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #5c82ff;
    transition: width 0.5s, filter 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    /*filter: drop-shadow(0 0 5px #fff);*/
}

.burger {
    display: none;
    cursor: pointer;
}

main {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

main h1 {
    font-size: 70px;
    margin-top: 80px;
}

main p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #5c82ff;
    cursor: pointer;
    background: transparent;
    color: white;
    position: relative;
    overflow: hidden;
}

span {
    z-index: -1;
    background-color: #5c82ff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
}

button:hover span {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    /*Eventuellt ta bort och sänk bagrundens linear gradient dvs gör ljusare*/
    /*background: rgba(255, 255, 255, 0.05);*/
}

.copyright {
    flex-grow: 1;
    text-align: center;
}

.affiliate-links {
    display: flex;
    gap: 20px;
}

.affiliate-links a img {
    height: 64px;
    width: 64px;
}

#logo {
    transform-origin: left center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
    transform: translateX(100%);
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content :first-child {
    padding-top: 20px;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s;
}

.hidden-button {
    display: none;
}

.contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(270deg, #fff, #fff);
    border-radius: 25px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #5c82ff;
    font-size: 40px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #5c82ff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #000;
    background-color: #dfdfdf;
    border-radius: 50px;
    margin-left: 10px;
}

.person-input{
    background-image: url("../images/person.svg");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px;
    color: #00000059;
}

.email-input{
    background-image: url("../images/email.svg");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 18px;
    color: #00000059;
}

.contact-inputs img{
    width: 20px;
    position: absolute;
    right: 20px;
}

.contact-left textarea {
    height: 140px;
    padding: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px solid #5c82ff;
}

.contact-inputs::placeholder {
    color: #00000059;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #5c82ff;
}

.contact-right img {
    width: 500px;
}

@media (max-width: 850px) {
    nav {
        flex-direction: column;
    }

    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #menu li {
        text-align: center;
        padding: 20px 0;
        margin: 10px;
        border-radius: 20px;
        background: linear-gradient(90deg, #5c82ff, #91b4ff);
    }

    .burger {
        display: flex;
        margin: 15px;
        width: 50px;
    }

    #header-container {
        display: flex;
        align-items: center;
    }
}


@media (max-width: 900px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(120deg);
    }

    40% {
        transform: rotate(60deg);
    }

    60% {
        transform: rotate(100deg);
    }

    70% {
        transform: rotate(87.5deg);
    }

    80% {
        transform: rotate(90deg);
    }

    90% {
        transform: rotate(89deg);
    }

    95% {
        transform: rotate(89.5deg);
    }

    100% {
        transform: rotate(90deg);
    }
}